.search{
    height: 25px;
    width: 25px;
    margin: 0px;
}
.inSenha{
margin-top: 2px;
}
.my-nav{
    margin: 0 auto;
    height: 30px;
    width: 244px;
}
.a1{
    background-color: red;
    height: 100%;
    width: 100%; 
}
.a2{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a3{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a4{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a5{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a6{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a7{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a8{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a9{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a10{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a11{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a12{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a13{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}
.a14{
    background-color: red;
    height: 100%;
    width: 100%; 
    display: none;
}